
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
    <title>Know Your Music</title>
</head>
<body>
  <header>
    <h1>Know Your Music</h1>
  </header>

  <section id="main-content">
    <h2>Welcome to Know Your  Music!</h2>
    <p>Explore the world of music and enhance your musical knowledge.</p>
    <a href="#" class="cta-button" id="getStartedBtn">Get Started</a>
  </section>

  <section id="new-content" class="hidden">
    <h2>Topic Description</h2>
    <p>Welcome to our Music Analysis Hub, where your musical preferences take center stage! <br>Dive into the world of music from your favorite genre, era, and time duration. Simply tell us the genre you love, the year it was made, and the duration you're in the mood for.<br> Our platform will curate a personalized list of the top 10 tracks that match your criteria.

      Explore each selected piece with detailed insights, including artist information, album details, and intriguing trivia about the tracks.<br> Immerse yourself in a tailored musical journey that resonates with your unique taste. <br>Discover new favorites, revisit classics, and uncover the stories behind the beats.
      
     <br> Whether you're a seasoned music enthusiast or just beginning your sonic exploration, our Music Analysis Hub is your go-to destination for a rich, customized music experience. Start your journey now and let the melodies transport you through time and genres..
    </p>
    <a href="#" class="cta-button" id="goBackBtn">Go Back</a>
    <a href="#" class="cta-button" id="nextBtn">Next</a>
  </section>

  <footer>
    <p>&copy; 2023 Know Your Music. All rights reserved.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>